<div id="userDetails">
  <div id="userInfo">
    <p
      style="
        height: fit-content;
        width: 100%;
        border-bottom: 1px solid grey;
        font-size: 22px;
      "
    >
      <b>User:</b> {{ this.user.name }} - {{ this.user.role }}
    </p>
    <p style="margin-right: 30px">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae
      adipisci nihil fugit inventore, id animi sed, facilis reprehenderit error
      sunt eveniet harum cupiditate, blanditiis dolore. Asperiores itaque minima
      placeat aut.
    </p>
  </div>
  <div id="projectInfo">
    <app-evaluation-form></app-evaluation-form>
  </div>
</div>

<!-- <p
      style="font-size: 20px; margin-right: 10vw; border-bottom: 1px solid grey"
    >
      <b>User:</b> {{ this.user.name }} - {{ this.user.role }}
    </p> -->
