<div id="userDetails">
  <div id="userInfo">
    <p style="font-size: 20px"><b>Name:</b> {{ this.user.name }}</p>
    <p style="font-size: 20px"><b>Role:</b> {{ this.user.role }}</p>
    <p style="font-size: 20px"><b>Evaluation:</b></p>
  </div>
  <div id="projectInfo">
    <h5>Project Employee Evaluation</h5>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, itaque
      eligendi accusantium amet blanditiis aspernatur quaerat dicta natus
      quisquam, reiciendis quae doloremque est tempore veniam laboriosam ad
      laborum eos magni.
    </p>
  </div>
</div>
