<div id="userDetails">
  <button
    pButton
    type="button"
    label="Add evaluation form"
    class="p-button-help"
    style="align-self: flex-end; margin-top: 50px"
    (click)="showModal()"
    icon="pi pi-plus"
  ></button>

  <div *ngIf="user" id="userInfo">
    <p-card header="{{ user.name }}">
      <div style="background-color: #f1f0f0; margin-bottom: 10px">
        <b>Role: </b> {{ user.role }}
      </div>
      <div style="background-color: #f7f7f7; margin-bottom: 10px">
        <b>Email:</b> {{ user.email }}
      </div>
      <div *ngIf="project" class="info" style="background-color: #f1f0f0">
        <b>Project:</b> {{ project.name }}
      </div>
      <div *ngIf="department" class="info" style="background-color: #f7f7f7">
        <b>Department:</b> {{ department.name }}
      </div>
      <div class="info" style="background-color: #f1f0f0">
        <b>Evaluation forms:</b> 2
      </div>
    </p-card>
  </div>
</div>

<!-- Add Eval form modal -->
<p-dialog
  header="Add Evaluation Form"
  [(visible)]="displayAddEvalModal"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [modal]="true"
  styleClass="eval-dialog"
>
  <div style="display: flex; flex-direction: column; margin-top: 10px">
    <form [formGroup]="addEvalFormGroup">
      <p-dropdown
        [options]="templates"
        optionLabel="name"
        optionValue="id"
        formControlName="templateControl"
        autoWidth="false"
        [style]="{ width: '100%' }"
      ></p-dropdown>
    </form>
  </div>
  <div
    style="
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 30px;
    "
  >
    <button
      pButton
      type="button"
      label="Cancel"
      class="p-button-danger"
      (click)="hideModal()"
    ></button>
    <button
      pButton
      type="button"
      label="Submit"
      class="p-button-success"
      (click)="addEvalForm()"
      [disabled]="!addEvalFormGroup.valid"
    ></button>
  </div>
</p-dialog>

 <!-- ===========================DATAVIEW WITH EVALUATION FORMS====================== -->
 <div id="userDetails" style="display: flex; flex-direction: column">
  <div id="userInfo">
    <div class="card">
      <div *ngIf="(evalFormListObS | async); let evalForm">
        <p-dataView #dv [value]="evalForm" [paginator]="true" [rows]="9" filterBy="name" layout="list">
          <ng-template pTemplate="header">
            <div class="flex flex-column md:flex-row md:justify-content-between">
              <span class="p-input-icon-left mb-2 md:mb-0">
                <i class="pi pi-search"></i>
                <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter(getEventValue($event))"/>
              </span>
            </div>
          </ng-template>
          <ng-template let-evaluationForm pTemplate="listItem">
            <div class="col-12">
              <div class="container">
                <div class="row">
                  <div class="col-10" style="display: flex; padding-top: 20px; padding-bottom: 20px; cursor: pointer;"
                    id="hover" routerLink="evaluation-form/{{evaluationForm.id}}">
                    <div><i class="pi pi-book" style="font-size: 6rem"></i></div>
                    <div style="display: flex; flex-direction: column; margin-left: 30px;">
                      <div><b>Name: </b>{{ evaluationForm.name }}</div>
                      <div><b>Type: </b>{{ evaluationForm.type }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </p-dataView>
      </div>
    </div>
  </div>
</div>