#userDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#evaluationInfo {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 50px;
  height: 100%;
}

p {
  text-align: justify;
}

.info {
  cursor: pointer;
  margin-top: 10px;
}
.info:hover {
  filter: brightness(0.9);
}

@media (max-width: 767.98px) {
  :host ::ng-deep .eval-dialog {
    width: 100%;
  }
}

@media (min-width: 768px) {
  :host ::ng-deep .eval-dialog {
    width: 50%;
  }
}
#hover:hover {
  background-color: rgb(219, 219, 219);
}
