<!-- <div id="buttons">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="25"
    height="25"
    fill="currentColor"
    class="bi bi-arrow-clockwise"
    viewBox="0 0 16 16"
    style="cursor: pointer"
  >
    <path
      fill-rule="evenodd"
      d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"
    />
    <path
      d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"
    />
  </svg>
  <svg
    id="addDepartment"
    data-bs-toggle="modal"
    data-bs-target="#addDepartmentModal"
    xmlns="http://www.w3.org/2000/svg"
    width="25"
    height="25"
    fill="currentColor"
    class="bi bi-plus-circle"
    viewBox="0 0 16 16"
    style="cursor: pointer"
  >
    <path
      d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
    />
    <path
      d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
    />
  </svg>
</div> -->

<!-- ------------------------------------ ADD MODAL ------------------------------------- -->
<!-- <div
  class="modal fade"
  id="addDepartmentModal"
  tabindex="-1"
  aria-labelledby="addDepartmentModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addDepartmentModalLabel">
          Add new department
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="createNewDepartmentForm" [formGroup]="addDepartmentFormGroup">
          <div class="mb-3">
            <label for="departmentName" class="form-label"
              >Name of the department</label
            >
            <input
              type="text"
              class="form-control"
              id="departmentName"
              aria-describedby="emailHelp"
              formControlName="nameControl"
            />
          </div>
          <div class="mb-3">
            <label for="headOfDepartment" class="form-label"
              >Head of Department</label
            >
            <select
              id="headOfDepartment"
              class="form-select"
              aria-label="Default select example"
              formControlName="headOfDepartmentControl"
            >
              <option selected></option>
              <option *ngFor="let user of users">{{ user.name }}</option>
            </select>
          </div>

          <div
            style="
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              margin-top: 50px;
            "
          >
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              (click)="httpAddDepartment()"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->
