<div id="userDetails">
  <div id="userInfo">
    <p style="font-size: 20px"><b>Departament #1 members</b></p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Role</th>
          <th scope="col">Project</th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="users"
          *ngFor="let user of users"
          routerLink="../../../users/userDetails/{{ user.id }}"
        >
          <td>{{ user.name }}</td>
          <td>{{ user.role }}</td>
          <td>---</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
