.indent
{
    text-indent: 2em
}
input {
    display: block;
    box-sizing: border-box;
    margin-top: 100 px;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.evaluation-form-name{
    text-align: center;
    color: navy;
    text-indent: 30px;
    text-transform: uppercase;
}