.indent
{
    text-indent: 2em
}
input {
    display: block;
    box-sizing: border-box;
    margin-top: 100 px;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.evaluation-form-name{
    text-align: center;
    color: navy;
    text-indent: 30px;
    text-transform: uppercase;
}

/* ===========================================SECTION & CRITERIA STYLING===================================================== */

.section-container,
.criteria-container{
    display: flex;
    flex-direction: column;
    padding: 1%;
    width: 100%;
}

.section-name-container,
.criteria-name-container{
    margin-bottom: 0.5%;
    font-size: 28px;
    color: rgba(0, 0, 0, 0.75);
}

.section-desc-container,
.criteria-desc-container{
    padding-left: 1%;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

/* ===========================================CRITERIA STYLING===================================================== */

.criteria-name-container{
    font-size: 22px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
}

.criteria-desc-container{
    font-size: 18px;
    width: 60%;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
}

.criteria-table-container{
    display: flex;
    flex-direction: column;
}

.criteria-accordion{
    max-width: 100%;
}
.criteria-accordion > a{
    width: 20%;
}

.criteria-table{
    width: 35%;
    align-self: flex-end;
}

tr > th {
    border: none;
    border-width: none;
    background: none;
}

.criteria-name-container{
    width: 65%;
    float: left;
}

.radio-btn-container{
    width: 35%;
    float: right;
}

.radio-btn-container > p-radioButton{
    padding: 1rem 1rem;
}

.p-accordion-header > a{
    width: 20%;
    border: 5px solid red;
}

.btn-container{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    position: absolute;
}

.add-comm-btn,
.add-review-btn{
    width: 150px;
    margin-bottom: 1%;
}

.add-btn{
    font-size: 14px;
    padding: 6px 8px;
}

.criteria-container{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 1%;
}

/*===================================================TABLE STYLING======================================================== */
 .table-headers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

 .radio-btn-names{
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-between;
 }