
.add-button-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    align-items: center;
}

.comm-textarea{
    resize: none;
    outline: none;
}

.modal-button{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.review-section{
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 1%;
    padding-top: 8px;
    padding-left: 10px;
    border-radius: 5px;
}

.btn-container{
    display: flex;
    justify-content: flex-end;
}

.btn-container button{
    margin-left: 1%;
}

.submit-btn{
    width: 155px;
    margin: 16px 0px;
    padding: 12px 20px;
}