.add-button-container{
  display: flex;
  justify-content: flex-end;
}

.p-button-help,
.button{
  padding: 5px;
}

.p-button-raised{
  margin-left: 10px;
  padding: 5px;
  padding-right: 10px;
  width: 90px;
  height: 50px;
}

.buttons-container{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
}
.modal-button{
  width: 120px;
  height: 50px;
}

.modal-title{
  align-items: center;
}

.btn-pos{
  bottom: 0;
}
.card-container{
  display: inline-block;
  margin-right: 2%;
  margin-bottom: 2%;
}

textarea {
  outline: none;
  text-decoration: none;
  resize: none;
  overflow: hidden;
  border: none;
  outline: none;
  text-align:left;
}

textarea:hover{
  overflow:visible;
}