<!-- =====================================ADD PROJECT BUTTON=============================== -->

<div class="add-button-container">
  <button data-bs-toggle="modal" data-bs-target="#addProjectModal" type="button" label="help" class="p-button-raised p-button-help" [style]="{width: '150px', height: '40px'}" 
      pButton pRipple label="Add Project" icon="pi pi-plus"></button>
</div>

<!-- =============================MODAL FOR ADDING A PROJECT================================= -->

<div class="modal fade" id="addProjectModal" tabindex="-1" aria-labelledby="addProjectModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addProjectModal">
          Add Project
        </h5>
      </div>
      <div class="modal-body">
        <form id="createNewProjectForm">
          <div class="mb-3">
            <label for="projectName" class="form-label">
		          Name of the project
	          </label>
            <input [(ngModel)]="projectName" name="projectName" onfocus="this.value=''" value="" type="text" 
              placeholder="Project's Name" class="form-control" id="projectName" aria-describedby="emailHelp" >
          </div>
          <div class="mb-3">
            <label for="projectDescription" class="form-label">
		          Description of project
	          </label>
              <textarea class="input-textarea" [(ngModel)]="projectDescription" name="projectDescription" 
                placeholder="Project's Description" onfocus="this.value=''" value="" id="projectDescription" aria-describedby="emailHelp" rows="5" cols="61" ></textarea>
          </div>
          <div class="buttons-container">
            <button pButton pRipple type="submit" label="Close" data-bs-dismiss="modal" 
              class="modal-button p-button-raised p-button-danger"></button>

            <button pButton pRipple type="button" label="Submit" (click)="addProject()" data-bs-dismiss="modal"
             class="modal-button p-button-raised p-button-success"></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- ================================CARD================================= -->

<div class="card-container" *ngFor="let project of projectsList">
 <p-card class="card-content" header={{project.name}} subheader="Project Leader: Grig Va dati cu seama" [style]="{width: '360px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
    </ng-template>
    <ng-template pTemplate="content">
      <textarea rows="5" cols="40" readonly>{{project.description}}</textarea>
      <!-- <p>{{project.description}}</p> -->
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" label="Edit Project" icon="pi pi-pencil" class="p-button-raised btn-pos"></button>
        <button pButton pRipple type="button" label="More Details" icon="pi pi-info" class="p-button-raised p-button-secondary btn-pos" routerLink="projectDetails/{{project.id}}"></button>
        <button pButton pRipple type="button" label="Delete Project" icon="pi pi-trash" class="p-button-raised p-button-danger btn-pos" (click)="deleteProject(project.id)"></button>
    </ng-template>
  </p-card> 
</div>