*{
  margin: 0;
  padding: 0;
}

.add-button-container{
  display: flex;
  justify-content: flex-end;
}

.p-button-help,
.button{
  padding: 5px;
}

.button{
  width: 105px;
  height: 50px;
}
:host ::ng-deep .p-button {
  margin: 0 .5rem 0 0;
  min-width: 10rem;
}

p {
  margin: 0;
}

.confirmation-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

:host ::ng-deep .p-dialog .p-button {
  min-width: 6rem;
}