<div class="d-none">{{(departmentId | async)}}</div>
<h1 class="page-header">
  {{ (department | async)?.name }}
  <br>
</h1>
<br>
<div class="row main-container">
  <div class="col-12 col-lg-4 card-container">
    <div class="head-of-dept-card" >
        <div class="listbox-title d-flex justify-content-between">
          <span>Evaluation Templates</span>
          <a href="http://google.com" style="text-decoration:none;">
            <button href="" title="Manage Templates" pButton class="p-button p-button-help" label="Manage"  icon="pi pi-th-large" iconPos="left">
            </button>
          </a>
        </div>

      <p-listbox [filter]="true" 
            [options]="getVerifiedTemplates((formTemplates | async))"  
            optionLabel="name" listStyleClass="hod-listbox"
            [style]="{ 'height': '100%' }"
            [metaKeySelection]="false" >
            <ng-template let-formTemplate pTemplate="item">
              <div class="formTemplate-item">
                <div>{{ formTemplate.name }}</div>
              </div>
            </ng-template>
          
    </p-listbox>
  </div>
  </div>
  <div class="col-12 col-lg-4 card-container">
    <div class="head-of-dept-card" >
      <div class="listbox-title d-flex justify-content-between">
        <span>Projects</span>
        <a href="http://google.com" style="text-decoration:none;">
          <button href="" title="Manage Members" pButton class="p-button p-button-help" label="Manage"  icon="pi pi-th-large" iconPos="left">
          </button>
        </a>
      </div>

    <p-listbox [filter]="true" 
          [options]="getVerifiedProjects((projects | async))"  
          optionLabel="name" listStyleClass="hod-listbox"
          [style]="{ 'height': '100%' }"
          [metaKeySelection]="false" >
          <ng-template let-project pTemplate="item">
            <div class="project-item">
              <div>{{ project.name }}</div>
            </div>
          </ng-template>
        
  </p-listbox>
</div>
    
  </div>
  
  <div class="col-12 col-lg-4 card-container">
    <div class="head-of-dept-card" >
      <div class="listbox-title d-flex justify-content-between">
        <span>Members</span>
        <a href="http://google.com" style="text-decoration:none;">
          <button href="" title="Manage Members" pButton class="p-button p-button-help" label="Manage"  icon="pi pi-th-large" iconPos="left">
          </button>
        </a>
      </div>
    <p-listbox [filter]="true" 
          [options]="getVerifiedMembers((members|async))"  
          optionLabel="name" listStyleClass="hod-listbox"
          [style]="{ 'height': '100%' }"
          [metaKeySelection]="false" >
          <ng-template let-member pTemplate="item">
            <div class="member-item">
              <div>{{ member.name }}</div>
            </div>
          </ng-template>
        
  </p-listbox>
</div>
  </div>
  

</div>

<!-- 
    routerLink="{{ this.department.id }}/projects"
    routerLink="details/{{ this.department.id }}"
 -->
