<div style="display: flex; flex-direction: column; gap: 100px">
  <h1
    style="
      text-align: center;
      margin-top: 50px;
      color: rgb(75, 75, 75);
      border-bottom: 1px solid rgb(72, 72, 72);
    "
  >
    Softelligence Department
  </h1>
  <p-card header="Projects" style="cursor: pointer">
    <p style="background-color: rgb(239, 237, 237)">License Management</p>
    <p style="background-color: rgb(239, 237, 237)">Employee Evaluation</p>
  </p-card>

  <p-card header="Members" style="cursor: pointer">
    <div style="background-color: #f1f0f0"><b>Project leads: </b>3</div>
    <div tyle="background-color: #f7f7f7"><b>Project managers: </b>3</div>
    <div style="background-color: #f1f0f0"><b>Developers: </b> 7</div>
  </p-card>
</div>

<!-- 
    routerLink="{{ this.department.id }}/projects"
    routerLink="details/{{ this.department.id }}"
 -->
