
<h1 class="page-header">
  .NET Department
  <br>
</h1>
<br>
<div class="row main-container">
  <div class="col-12 col-lg-4 card-container">
    <div class="head-of-dept-card" >
        <div class="listbox-title d-flex justify-content-between">
          <span>Evaluation Templates</span>
          <a href="http://google.com" style="text-decoration:none;">
            <button href="" title="Manage Templates" pButton class="p-button" label="Manage"  icon="pi pi-th-large" iconPos="left">
            </button>
          </a>
        </div>

      <p-listbox [filter]="true" 
            [options]="cities"  
            optionLabel="name" listStyleClass="hod-listbox"
            [style]="{ 'height': '100%' }"
            [metaKeySelection]="false" >
            <ng-template let-country pTemplate="item">
              <div class="country-item">
                <div>{{ country.name }}</div>
              </div>
            </ng-template>
          
    </p-listbox>
  </div>
  </div>
  <div class="col-12 col-lg-4 card-container">
    <div class="head-of-dept-card" >
      <div class="listbox-title d-flex justify-content-between">
        <span>Projects</span>
        <a href="http://google.com" style="text-decoration:none;">
          <button href="" title="Manage Members" pButton class="p-button" label="Manage"  icon="pi pi-th-large" iconPos="left">
          </button>
        </a>
      </div>

    <p-listbox [filter]="true" 
          [options]="cities"  
          optionLabel="name" listStyleClass="hod-listbox"
          [style]="{ 'height': '100%' }"
          [metaKeySelection]="false" >
          <ng-template let-country pTemplate="item">
            <div class="country-item">
              <div>{{ country.name }}</div>
            </div>
          </ng-template>
        
  </p-listbox>
</div>
    
  </div>
  
  <div class="col-12 col-lg-4 card-container">
    <div class="head-of-dept-card" >
      <div class="listbox-title d-flex justify-content-between">
        <span>Members</span>
        <a href="http://google.com" style="text-decoration:none;">
          <button href="" title="Manage Members" pButton class="p-button" label="Manage"  icon="pi pi-th-large" iconPos="left">
          </button>
        </a>
      </div>
    <p-listbox [filter]="true" 
          [options]="cities"  
          optionLabel="name" listStyleClass="hod-listbox"
          [style]="{ 'height': '100%' }"
          [metaKeySelection]="false" >
          <ng-template let-country pTemplate="item">
            <div class="country-item">
              <div>{{ country.name }}</div>
            </div>
          </ng-template>
        
  </p-listbox>
</div>
  </div>
  

</div>

<!-- 
    routerLink="{{ this.department.id }}/projects"
    routerLink="details/{{ this.department.id }}"
 -->
