.add-button-container{
    display: flex;
    justify-content: flex-end;
  }

.btn-pos{
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px;
  width: 90px;
  height: 50px;
}

.buttons-container{
  display:flex;
  width: 100%;
  justify-content: flex-end;
}

/* ====================================CONFIRMATION DIALOGUE STYLE========================== */
.confirm-dialogue{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.confirm-icon{
  font-size: 7rem;
  align-self: center;
}

.confirm-header,
.confirm-text{
  margin-top: 10px;
  text-align: center;
}

.confirm-buttons-dialogue{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

#hover:hover {
  background-color: rgb(219, 219, 219);
}