<h1 *ngIf="project">{{project.name}}</h1>
<p *ngIf="project">{{project.description}}</p>
<hr/>
<!-- =============================MODAL TO ADD USERS TO PROJECT=============================== -->
<p-dialog header="Add users to project" [(visible)]="displayAddUsersModal" [modal]="true" [style]="{width: '550px'}" 
  [draggable]="false" [resizable]="false">
  <form [formGroup]="addUsersToProjectForm">
    <p-listbox [options]="usersWithoutProject" optionLabel="name" optionValue="id" [multiple]="true" [checkbox]="true" [filter]="true" (onChange)="onListActions($event)"></p-listbox>
  </form>
  <div class="buttons-container">
    <button pButton pRipple type="submit" label="Close" (click) = "hideAddDialog()" 
      class="modal-button btn-pos p-button-danger"></button>
    <button pButton pRipple type="submit" label="Submit" (click)="addUsersToProject()" [disabled]="disabledSubmit"
     class="modal-button btn-pos p-button-success"></button>
  </div>
</p-dialog>

<!-- =====================================ADD USERS BTN AND EDIT BTN=============================== -->
<div class="add-button-container">
  <button type="button" class="btn-pos p-button-help" [style]="{width: '150px', height: '40px'}" 
  pButton pRipple label="Edit project" icon="pi pi-pencil" (click)="showEditDialog()" ></button>
  <button type="button" class="btn-pos p-button-help" [style]="{width: '150px', height: '40px'}" 
  pButton pRipple label="Add Users" icon="pi pi-plus" (click)="showAddDialog()"></button>
</div>

<!-- =============================CONFIRMATION DIALOGUE================================= -->

<p-dialog [(visible)]="displayConfirmationDialogue" [modal]="true" [style]="{width: '550px'}"
    [draggable]="false" [resizable]="false">
    <div class="confirm-dialogue">
      <i class="confirm-icon pi pi-times-circle"></i>
      <h3 class="confirm-header">Are you sure?</h3>
      <p class="confirm-text m-0">
        Do you realy want to remove this user from the project he is assigned to? This process cannot be
        undone.
      </p>
      <div class="confirm-buttons-dialogue">
        <button pButton type="button" label="Cancel" class="p-button-danger" (click)="hideDeleteConfirmation()"></button>
        <button pButton type="button" label="Delete" class="p-button-success" (click)="removeUser()"></button>
      </div>
    </div>
</p-dialog>

<!-- ===============================TABLE WITH EMPLOYEES ASSIGNED TO THE PROJECT====================== -->
<div *ngIf="usersList.length===0">
  <h3>There are currently no users assigned to this project.</h3>
  <h3>You can add users to this project using the button on the top right corner.</h3>
</div>
<div *ngIf="usersList.length" id="userDetails" style="display: flex; flex-direction: column">
  <div id="userInfo">
    <p *ngIf="project && project.name" style="font-size: 20px"><b>{{project.name}} members:</b></p>
    <div class="card">
      <p-dataView #dv [value]="usersList" [paginator]="true" [rows]="9" filterBy="name" layout="list">
        <ng-template pTemplate="header">
          <div class="flex flex-column md:flex-row md:justify-content-between">
            <span class="p-input-icon-left mb-2 md:mb-0">
              <i class="pi pi-search"></i>
              <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter(getEventValue($event))"/>
            </span>
          </div>
        </ng-template>
        <ng-template let-user pTemplate="listItem">
          <div class="col-12">
            <div class="container">
              <div class="row">
                <div class="col-10" style="display: flex; padding-top: 20px; padding-bottom: 20px; cursor: pointer;"
                  id="hover" routerLink="../../../../users/userDetails/{{ user.id }}">
                  <div><i class="pi pi-user" style="font-size: 6rem"></i></div>
                  <div style="display: flex; flex-direction: column; margin-left: 30px;">
                    <div><b>Name: </b>{{ user.name }}</div>
                    <div><b>Email: </b>{{ user.email }}</div>
                    <div><b>Role: </b>{{ user.role }}</div>
                  </div>
                </div>
                <div class="col"style="display: flex; justify-content: center; align-items: center;">
                  
                  <i class="pi pi-trash" style="font-size: 2rem; cursor: pointer; margin-left: 50px"
                    (click)="showDeleteConfirmation(user.id)">
                  </i>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </div>
  </div>
</div>

<!-- ============================MODAL TO EDIT PROJECT ============================== -->
<p-dialog header="Edit Project" [(visible)]="displayEditModal" [modal]="true" [style]="{width: '550px'}" 
  [draggable]="false" [resizable]="false">
  <form [formGroup]="editProjectForm">
    <label for="float-input">Team Lead</label>
    <br>
    <p-dropdown [options]="projectTeamLeads" formControlName="projectTeamLead" optionLabel="name" optionValue="id" [style]="{width: '100%'}"></p-dropdown>
    <br>
    <label for="float-input">Project Manager</label>
    <br>
    <p-dropdown [options]="projectManagers" formControlName="projectManager" optionLabel="name" optionValue="id" 
    placeholder="Select a Project Manager" [showClear]="true" [style]="{width: '100%'}"></p-dropdown>
    <br>
    <label for="float-input">Name</label>
    <br />
    <input placeholder="Project's Name" id="float-input" type="text" pInputText formControlName="projectName" [style]="{width: '100%'}"/>
    <br />
    <br />
    <label for="float-input">Description</label>
    <br />
    <textarea placeholder="Project's Description" id="float-input" 
    class="textbox form-control input-textarea" formControlName="projectDescription" rows="5" cols="60" ></textarea>
  </form>
  <div class="buttons-container">
    <button pButton pRipple type="button" label="Close" (click) = "hideEditDialog()" 
      class="modal-button btn-pos p-button-danger"></button>

    <button pButton pRipple type="submit" label="Submit" (click)="updateProject()" [disabled]="!editProjectForm.valid"
     class="modal-button btn-pos p-button-success"></button>
  </div>
</p-dialog>

