
<!-- ------------------ Add Form Template Modal Button ---------------------- -->
<div class="add-button-container">
  <button (click)="showAddDialog()" type="button" class="btn-pos p-button-help" [style]="{width: '200px', height: '40px'}" 
      pButton pRipple label="Add Form Template" icon="pi pi-plus"></button>
</div>

<!-- --------------------- Modal for Adding Form Template --------------------------- -->

<p-dialog header="Add Form Template" [(visible)]="displayFormTemplateAddModal"
[modal]="true" [style]="{width: '550px'}" [draggable]="false" [resizable]="false">
  <div style="display: flex; flex-direction: column;">
    <form [formGroup]="addFormTemplateFormGroup">
      <span class="p-float-label" style="margin-top: 30px">
        <input id="float-input" type="text" pInputText formControlName="nameControl" />
        <label for="float-input">Form template's name</label>
      </span>
      <br>
      <label class="required" for="typeControl">Software developer type</label>
      <select formControlName="typeControl">
        <option hidden disabled selected value> Select an option </option>
        <option *ngFor="let t of types" [ngValue]="t">{{t}}</option>
      </select>
    </form>
  </div>
  <div class="buttons-container">
    <button pButton pRipple type="submit" label="Close" (click) = "hideAddDialog()" 
      class="modal-button btn-pos p-button-danger"></button>
    <button pButton type="button" label="Submit" class="p-button-success btn-pos p-button-success"
      (click)="addFormTemplate()" [disabled]="!addFormTemplateFormGroup.valid"></button>
  </div>
</p-dialog>

<!---------------------- Delete Form Template Modal ------------------------>

<p-dialog [(visible)]="displayFormTemplateDeleteModal" [modal]="true">
  <div style="display: flex; flex-direction: column; width: 100%; height: 100%">
    <i class="pi pi-times-circle" style="font-size: 7rem; align-self: center"></i>
    <h3 style="margin-top: 10px; text-align: center">Are you sure you want to delete?</h3>
    <p style="margin-top: 10px; text-align: center">
      Do you realy want to delete this form template? This process cannot be undone.
    </p>
    <div style="
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 40px;
      ">
      <button pButton type="button" label="Cancel" class="p-button-secondary" (click)="hideDeleteDialog()"></button>
      <button pButton type="button" label="Delete" class="p-button-danger" (click)="deleteFormTemplate()"></button>
    </div>
  </div>
</p-dialog>

<!-- ------------------ Edit Form Template Modal ------------------------ -->


<p-dialog header="Edit Form Template" [(visible)]="displayFormTemplateEditModal"
[modal]="true" [style]="{width: '550px'}" [draggable]="false" [resizable]="false">
  <form [formGroup]="editFormTemplateFormGroup">
    <br />
    <label for="float-input" class="required">Name</label>
    <input [value]="editFormTemplateFormGroup.controls.nameControl" id="float-input" type="text" pInputText
      formControlName="nameControl" [style]="{width: '100%'}" />
    <br />
    <br />
    <label for="float-input" class="required">Software developer type</label>
    <select formControlName="typeControl">
      <option *ngFor="let t of types" [ngValue]="t">{{t}}</option>
    </select>
  </form>
  <div class="buttons-container">
    <button pButton type="button" label="Cancel" class="p-button-danger" (click)="hideEditDialog()"></button>
    <button pButton type="button" label="Submit" class="p-button-success"
      (click)="updateFormTemplate()" [disabled]="!editFormTemplateFormGroup.valid"></button>
  </div>
</p-dialog>
<!-- ================== SECTION MODALS ======================== -->

<!-- --------------------- Add Section Modal ------------------------ -->

<p-dialog header="Add Section" [(visible)]="displaySectionAddModal"
[modal]="true" [style]="{width: '550px'}" [draggable]="false" [resizable]="false">
  <div style="display: flex; flex-direction: column;">
    <form [formGroup]="addSectionGroup">
      <span class="p-float-label" style="margin-top: 30px">
        <input id="float-input" type="text" pInputText formControlName="nameControl" />
        <label for="float-input">Section's name</label>
      </span>
      <br>
      <label class="required" for="descriptionControl">Section description</label>
      <textarea placeholder="Description" id="float-input" class="textbox form-control input-textarea"
        formControlName="descriptionControl" rows="5" cols="61"></textarea>
    </form>
  </div>
  <div class="buttons-container">
    <button pButton type="button" label="Cancel" class="p-button-danger" (click)="hideAddDialogSection()"></button>
    <button pButton type="button" label="Submit" class="p-button-success"
      (click)="addFormTemplateSection()" [disabled]="!addSectionGroup.valid"></button>
  </div>
</p-dialog>

<!-- ----------------------------Delete Section Modal -------------------------- -->

<p-dialog [(visible)]="displaySectionDeleteModal" [modal]="true">
  <div style="display: flex; flex-direction: column; width: 100%; height: 100%">
    <i class="pi pi-times-circle" style="font-size: 7rem; align-self: center"></i>
    <h3 style="margin-top: 10px; text-align: center">Are you sure you want to delete?</h3>
    <p style="margin-top: 10px; text-align: center">
      Do you realy want to delete this form template section? This process cannot be undone.
    </p>
    <div style="
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 40px;
      ">
      <button pButton type="button" label="Cancel" class="p-button-secondary"
        (click)="hideDeleteDialogSection()"></button>
      <button pButton type="button" label="Delete" class="p-button-danger" (click)="deleteSection()"></button>
    </div>
  </div>
</p-dialog>
<!-- -------------------- Edit Section Modal ------------------------------ -->

<p-dialog header="Edit Form Template Section" [(visible)]="displaySectionEditModal"
[modal]="true" [style]="{width: '550px'}" [draggable]="false" [resizable]="false">
  <form [formGroup]="editSectionFormGroup">
    <br />
    <label for="float-input" class="required">Section's name</label>
    <input [value]="editSectionFormGroup.controls.nameControl" id="float-input" type="text" pInputText
      formControlName="nameControl" [style]="{width: '100%'}" />
    <br />
    <br />
    <label class="required" for="typeControl">Section description</label>
    <textarea placeholder="Description" id="float-input" class="textbox form-control input-textarea"
      formControlName="descriptionControl" rows="5" cols="61"></textarea>
  </form>
  <div class="buttons-container">
    <button pButton type="button" label="Cancel" class="p-button-danger" (click)="hideEditDialogSection()"></button>
    <button pButton type="button" label="Submit" class="p-button-success"
      (click)="updateTemplateSection()" [disabled]="!editSectionFormGroup.valid"></button>
  </div>
</p-dialog>
<!-- ====================== CRITERION ================================= -->

<!-- --------------------- Add Criterion Modal  --------------------------- -->

<p-dialog header="Add Criterion" [(visible)]="displayCriterionAddModal"
[modal]="true" [style]="{width: '550px'}" [draggable]="false" [resizable]="false">
  <div style="display: flex; flex-direction: column;">
    <form [formGroup]="addCriterionFormGroup">
      <span class="p-float-label" style="margin-top: 30px">
        <input id="float-input" type="text" pInputText formControlName="nameControl" />
        <label for="float-input">Criterion's name</label>
      </span>
      <br>
      <label class="required" for="typeControl">Criterion description</label>
      <textarea placeholder="Description" id="float-input" class="textbox form-control input-textarea"
        formControlName="descriptionControl" rows="5" cols="61"></textarea>
    </form>
  </div>
  <div class="buttons-container">
    <button pButton pRipple type="submit" label="Close" (click) = "hideAddDialog()" 
      class="modal-button btn-pos p-button-danger"></button>
    <button pButton type="button" label="Submit" class="p-button-success" 
      (click)="addCriterion()" [disabled]="!addCriterionFormGroup.valid"></button>
  </div>
</p-dialog>

<!---------------------- Delete Criterion Modal ------------------------>

<p-dialog [(visible)]="displayCriterionDeleteModal" [modal]="true">
  <div style="display: flex; flex-direction: column; width: 100%; height: 100%">
    <i class="pi pi-times-circle" style="font-size: 7rem; align-self: center"></i>
    <h3 style="margin-top: 10px; text-align: center">Are you sure you want to delete?</h3>
    <p style="margin-top: 10px; text-align: center">
      Do you realy want to delete this form template criterion? This process cannot be undone.
    </p>
    <div style="
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 40px;
      ">
      <button pButton type="button" label="Cancel" class="p-button-secondary"
        (click)="hideDeleteDialogCriterion()"></button>
      <button pButton type="button" label="Delete" class="p-button-danger" (click)="deleteCriterion()"></button>
    </div>
  </div>
</p-dialog>
<!-- ------------------ Edit Criterion Modal ------------------------ -->


<p-dialog header="Edit Form Template Criterion" [(visible)]="displayCriterionEditModal"
[modal]="true" [style]="{width: '550px'}" [draggable]="false" [resizable]="false">
  <form [formGroup]="editCriterionFormGroup">
    <br />
    <label for="float-input" class="required">Crieterion's name</label>
    <input [value]="editFormTemplateFormGroup.controls.nameControl" id="float-input" type="text" pInputText
      formControlName="nameControl" [style]="{width: '100%'}" />
    <br />
    <br />
    <label class="required" for="typeControl">Criterion description</label>
    <textarea placeholder="Description" id="float-input" class="textbox form-control input-textarea"
      formControlName="descriptionControl" rows="5" cols="61"></textarea>
  </form>
  <div class="buttons-container">
    <button pButton type="button" label="Cancel" class="p-button-danger" (click)="hideEditDialogCriterion()"></button>
    <button pButton type="button" label="Submit" class="p-button-success" 
      (click)="updateCriterion()" [disabled]="!editCriterionFormGroup.valid"></button>
  </div>
</p-dialog>

<h2 style="text-align: center"> Form Templates </h2>

<!-- ------------------- ACCORDION NG PRIME --------------------- -->

  <!-- <br> <br>
  <li *ngFor="let formTemplate of (formTemplateListObs | async)">
    <h3 style="text-align:center;">{{formTemplate.name}}</h3>
    <br>
    <h6 class="indent" style="opacity:0.7">{{formTemplate.type}}</h6>
    <p-accordion>
      <ul>
        <li *ngFor="let section of formTemplate.templateSections">
          <p-accordionTab header="{{section.name}}">
            <div><b> Description: </b>{{section.description}}
              <br>

              <div class="button-block">
                <button pButton type="button" label="Edit Section"
                  (click)="showEditDialogSection(formTemplate,section)" class="buttons-height p-button-warning">
                </button>
                <button pButton type="button" label="Delete Section"
                  (click)="showDeleteDialogSection(formTemplate,section)" class="p-button-danger buttons-height">
                </button>
                <button pButton type="button" label="Add Criterion"  icon="pi pi-plus" (click)="showAddDialogCriterion(formTemplate,section)" class="p-button-help buttons-height">
                </button>
              </div>
              <br>
              <br>
              <ul>
                <li *ngFor="let criterion of section.templateCriteria; index as index">
                  <b>{{criterion.name}}</b>
                  <hr>
                  {{criterion.description}}
                  <br>
                  <br>
                  <div class="button-block">
                    <button pButton type="button" label="Edit Criterion"
                      (click)="showEditDialogCriterion(section,criterion)" class="buttons-height p-button-warning">
                    </button>
                    <button pButton type="button" label="Delete Criterion"
                      (click)="showDeleteDialogCriterion(section,criterion)" class="buttons-height p-button-danger">
                    </button>
                  </div>
                  <br>
                  <div *ngIf="index!=section.templateCriteria.length-1">
                  <br>
                </div>
                </li>
              </ul>
              <br>
              <br>
            </div>
          </p-accordionTab>
        </li>
      </ul>
    </p-accordion>

    -------------- DELETE, EDIT FORM TEMPLATE | ADD SECTION BUTTONS ------------------ 

    <div class="button-block">
      <button pButton pRipple type="button" label="Edit Form Template" class=" p-button-warning buttons-height" 
        (click)="setCurrentFormTemplateId(formTemplate.id!)" (click)="showEditDialog(formTemplate)"></button>
      <button pButton pRipple type="button" label="Delete Form Template" class=" p-button-danger buttons-height" 
        (click)="setCurrentFormTemplateId(formTemplate.id!)" (click)="showDeleteDialog(formTemplate)"></button>
      <button  type="button"  pButton pRipple label="Add Section" icon="pi pi-plus" (click)="setCurrentFormTemplateId(formTemplate.id!)" class=" p-button-help buttons-height"
        (click)="showAddDialogSection(formTemplate)"></button>
    </div>
    <br>
    <br>
    <br>
  </li> -->

  <!-- ===========================DATAVIEW WITH FORM TEMPLATES====================== -->
  <div id="userDetails" style="display: flex; flex-direction: column">
    <div id="userInfo">
      <div class="card">
        <div *ngIf="(formTemplateListObs | async); let FTList">
          <p-dataView #dv [value]="FTList" [paginator]="true" [rows]="9" filterBy="name" layout="list">
            <ng-template pTemplate="header">
              <div class="flex flex-column md:flex-row md:justify-content-between">
                <span class="p-input-icon-left mb-2 md:mb-0">
                  <i class="pi pi-search"></i>
                  <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter(getEventValue($event))"/>
                </span>
              </div>
            </ng-template>
            <ng-template let-formTemplate pTemplate="listItem">
              <div class="col-12">
                <div class="container">
                  <div class="row">
                    <div class="col-10" style="display: flex; padding-top: 20px; padding-bottom: 20px; cursor: pointer;"
                      id="hover" routerLink="{{formTemplate.id}}">
                      <div><i class="pi pi-book" style="font-size: 6rem"></i></div>
                      <div style="display: flex; flex-direction: column; margin-left: 30px;">
                        <div><b>Name: </b>{{ formTemplate.name }}</div>
                        <div><b>Type: </b>{{ formTemplate.type }}</div>
                      </div>
                    </div>
                    <div class="col"style="display: flex; justify-content: center; align-items: center;">
                      <i class="pi pi-pencil" style="font-size: 2rem; cursor: pointer; margin-left: 50px"
                      (click)="setCurrentFormTemplateId(formTemplate.id!)" (click)="showEditDialog(formTemplate)"></i>
                      <i class="pi pi-trash" style="font-size: 2rem; cursor: pointer; margin-left: 50px"
                      (click)="setCurrentFormTemplateId(formTemplate.id!)" (click)="showDeleteDialog(formTemplate)"></i>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </p-dataView>
        </div>
      </div>
    </div>
  </div>